<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Pagina de inicio</title>
	</head>
	<body>
	
		<h1 th:text="'ID:'+${profe.id}">otro mensaje</h1>
		<h1 th:text="'Nombre:'+${profe.nombre}">otro mensaje</h1>
		<h2 th:text="'apellido P:'+${profe.apellido}">mensaje estitco</h2>
		<h2 th:text="'direccion:'+${profe.direccion}">mensaje estitco</h2>
		<h2 th:text="'telefono:'+${profe.telefono}">mensaje estitco</h2>
		
	</body>
</html> 